* {
  box-sizing: border-box;
}

body {
  background-color: #eef9bf;
  font-family: "Roboto", sans-serif;
  min-width: 320px;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

main {
  padding-bottom: 40px;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 30px;
  margin: 0 20px;
}

header h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 65.63px;
  letter-spacing: -0.4%;
  color: #75b79e;
  text-align: center;
}

.container {
  max-width: 925px;
  width: 100%;

  margin: 0 auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 117px;
  height: 146px;
  position: relative;
  margin: 17px;
}

.card img {
  width: 100px;
  height: 100px;
}

.face {
  width: 100%;
  height: 100%;
  background-color: #a7e9af;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  backface-visibility: hidden;
  transition: all 0.5s;
  transform-style: preserve-3d;
}

.back-face {
  transform: rotateY(180deg);
}

.card.turn .back-face {
  transform: rotateY(0deg);
}

.card.turn .front-face {
  transform: rotateY(-180deg);
}

.timer {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.timer.show {
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: lightgray;
  padding: 11px;
  border-radius: 5px;
  border: 4px solid red;
  color: black;
  font-weight: 700;
  font-size: 18px;

  transform: translateX(0px);
  opacity: 1;
}

@media screen and (max-width: 1020px) {
  .timer.show {
    font-size: 14px;
  }
}

@media screen and (max-width: 760px) {
  .cards {
    margin-top: 43px;
  }

  .timer.show {
    top: 100px;
  }
}

@media screen and (max-width: 600px) {
  header h1 {
    font-size: 36px;
    line-height: 42.19px;
  }
}

@media screen and (max-width: 425px) {
  header {
    padding-bottom: 80px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
  }

  .cards .card {
    margin: 0;
    margin-bottom: 34px;
  }

  .container {
    margin-top: 0;
  }
}
