* {
  box-sizing: border-box;
}

body {
  background-color: #eef9bf;
  font-family: "Roboto", sans-serif;
  min-width: 320px;
  width: 100%;
  height: 100vh;
}

main {
  padding-bottom: 40px;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 30px;
  margin: 0 20px;
}

header h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 65.63px;
  letter-spacing: -0.4%;
  color: #75b79e;
  text-align: center;
}

.container {
  max-width: 925px;
  width: 100%;

  margin: 0 auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 117px;
  height: 146px;
  background-color: #a7e9af;
  border: 1px solid #99cea8;
  border-radius: 5px;
  margin: 17px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 100px;
  height: 100px;
}

.card .back {
  display: none;
}

@media screen and (max-width: 600px) {
  header h1 {
    font-size: 36px;
    line-height: 42.19px;
  }
}

@media screen and (max-width: 425px) {
  header {
    padding-bottom: 35px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
  }

  .cards .card {
    margin: 0;
    margin-bottom: 34px;
  }

  .container {
    margin-top: 0;
  }
}
